.card {
  width: 80%;
  min-width: 350px;
  max-width: 500px;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 20px;
  margin: 0 auto;
  border-radius: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);

}

.todo-container h3 {
  text-align: center;
  margin: 0;
  margin-bottom: 10px;
}

@media (max-width: 600px) {
  .card {
    width: 90%;
    min-width: unset;
    padding: 15px;
  }

  .todo-container h3 {
    font-size: 1.2rem;
    margin-bottom: 8px;
  }
}

@media (max-width: 400px) {
  .card {
    width: 95%;
    padding: 10px;
  }

  .todo-container h3 {
    font-size: 1rem;
  }
}